* {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}

body {
    background-color: #eaeaea;
    /* background-color: #cad2c5; */
}

/* Palette */

/* Navbar */
.bg_navbar1 {
    /* background-color: #354f52; */
    background-color: #383838 !important;
    color: #d4af37 !important;
    z-index: 3;
}
.textColor1 {
    color: #d4af37 !important;
}
.bg_navbar2 {
    background-color: #52796f;
    padding-top: 67px;
}
.dropdown-menu {
    width: 400px;
}
.dropdownLanguage {
    width: 150px !important;
    left: 0px !important;
}
.dropdown-menu[data-bs-popper] {
    left: -250px;
}
.dropdownUserLoggato {
    width: 200px !important;
    left: -5px !important;
}

/* Footer */
.bg_footer1 {
    background-color: #253137;
}
.bg_footer2 {
    background-color: #2f3e46;
}
/* Cards */
.bg_card {
    background-color: #84a98c;
}
.cardExepmle {
    height: 350px;
    width: 300px;
    background-color: #84a98c;
}
.cardCustom {
    height: 450px;
    width: 320px;
    border-radius: 10px;
    background-color: #84a98c;
    color: black !important;
    filter: drop-shadow(0 0 0.35rem rgba(54, 54, 54, 0.76));
}
.imgCard {
    border-radius: 10px;
}
.buttonCard {
    border-radius: 20px;
    background-color: orange;
    color: white;
    border: transparent;
    padding: 5px 10px;
    width: 150px;
    font-weight: 700;
    filter: drop-shadow(0 0 0.35rem rgba(54, 54, 54, 0.76));
}

/* Login & Register */
.loginFrom {
    width: 500px;
    height: 450px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0px 15px grey;
    background-color: #2f3e46;
    margin: 0;
}
.registerFrom {
    width: 550px;
    height: 550px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0px 15px grey;
    background-color: #2f3e46;
    margin: 0;
}
.registerFrom > form > div > input {
    width: 219px;
    color: black;
}
.loginFrom > form > div > input {
    color: black;
}
/* Buttons */
.buttonCustom {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: orange;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Carousell */
.immagine {
    height: 200px;
    width: 280px;
    background-color: rgb(237, 237, 237);
}

.accordion-body {
    background-color: orangered !important;
}
