* {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}

body {
    background-color: #cad2c5;
}
/* Navbar */
.bg_navbar1 {
    background-color: #354f52;
}
.bg_navbar2 {
    background-color: #52796f;
    padding-top: 67px;
}

/* Footer */
.bg_footer1 {
    background-color: #253137;
}
.bg_footer2 {
    background-color: #2f3e46;
}
/* Cards */
.bg_card {
    background-color: #84a98c;
}

/* Login & Register */
.loginFrom {
    width: 500px;
    height: 450px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0px 15px grey;
    background-color: #2f3e46;
    margin: 0;
}
.registerFrom {
    width: 550px;
    height: 550px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0px 15px grey;
    background-color: #2f3e46;
    margin: 0;
}
.registerFrom > form > div > input {
    width: 219px;
}
/* Buttons */
.buttonCustom {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: orange;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.dropdown-menu{
    width: 400px;
}
.dropdownLanguage{
    width: 150px !important;
    left: 0px !important;
}
.dropdown-menu[data-bs-popper] {
    left: -250px;
}
.dropdownUserLoggato{
    width: 200px !important;
    left: -5px !important;
}